entrypoint = "index.html"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_11"
packages = ["nodejs_20"]

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]

[workflows]
runButton = "Start server"

[[workflows.workflow]]
name = "Start server"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 80

[[ports]]
localPort = 80
externalPort = 80
